<div id="container">
    <h1>
        Logowanie
    </h1>

    <div id="content">
        <div class="input-area">
            <input id="login-input" type="text" placeholder="Login" maxlength="60">
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="wrapper">
            <div class="input-area">
                <input id="password-input" type="password" placeholder="Hasło">
                <div class="icon">
                    <i class="fa-solid fa-lock"></i>
                </div>
            </div>
            <span>Nie pamiętasz hasła? <a class="link" href="/auth/resetPassword">Zresetuj je</a></span>
        </div>
    </div>

    <footer>
        <span class="error"></span>
        <button>Zaloguj się</button>
        <span class="info">Nie masz konta? <a class="link" href="/auth/signUp">Zarejestruj się</a></span>
    </footer>
</div>