<div id="container">
    <div id="joke-container">
        <div id="joke-wrapper" *ngIf="joke">
            <app-joke [joke]="joke" [jokeQueueService]="service.queueService"/>
        </div>

        <div id="loading" *ngIf="!joke">
            Ładowanie...
        </div>
    </div>

    <div id="down-panel">
        <!--
            <div id="settings-button" class="button">
                <i class="fa-solid fa-gear"></i>
            </div>
        -->
        <div id="navigation">
            <div class="button next" (click)="loadNextJoke()">
                Następny <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
    </div>
</div>