<div id="container">

    <div id="header">
        <img class="icon" src="/icon/icon2.png">

        @if(joke){
        <h1 *ngIf="joke.type == 'JOKE'">Edytuj Dowcip</h1>
        <h1 *ngIf="joke.type == 'RUSK'">Edytuj Suchar</h1>
        }

    </div>

    @if (!userService.getUser()) {
    <a href="/auth/signIn">
        <div id="user-info">
            Zaloguj się, jeśli chcesz edytować treść
        </div>
    </a>
    }
    @else if(joke){
    <div id="form-container">
        <div class="section">
            <span class="title">1. Wybierz rodzaj:<span class="required">*</span></span>
            <div class="type-container">
                <div class="type" [ngClass]="{'selected':joke.type == 'JOKE'}" (click)="setType('JOKE')">
                    Dowcip
                </div>
                <div class="type" [ngClass]="{'selected':joke.type == 'RUSK'}" (click)="setType('RUSK')">
                    Suchar
                </div>
            </div>
        </div>
        <br>
        <div class="section">
            <span class="title">2. Wybierz typ:<span class="required">*</span></span>
            <div class="type-container">
                <div class="type" [ngClass]="{'selected':joke.kind == 'TRADITIONAL'}" (click)="setKind('TRADITIONAL')">
                    Tradycyjny
                </div>
                <div class="type" [ngClass]="{'selected':joke.kind == 'ENIGMATIC'}" (click)="setKind('ENIGMATIC')">
                    Zagadkowy
                </div>
            </div>
        </div>
        <br>
        <div class="section">
            <span class="title">3. Wybierz kategorię:</span>

            <div class="input-area">
                <input id="identifier-input" type="text" placeholder="Wyszukaj kategorię" (click)="selectCategory()"
                    autocomplete="off">
                <div class="icon">
                    <i class="fa-solid fa-list"></i>
                </div>
            </div>
            <div id="selected-categories" *ngIf="joke.categories.length > 0">
                <div class="title">Wybrane kategorie:</div>
                <ul id="selected-categories-list">
                    <li *ngFor="let category of joke.categories">{{category.name}}</li>
                </ul>
            </div>
        </div>
        <br>
        @if(joke.kind == 'TRADITIONAL'){
        <div class="section">
            <span class="title">4. Dowcip<span class="required">*</span></span>
            <textarea [(ngModel)]="jokeContent"></textarea>
        </div>
        }
        @else {
        <div>
            <div class="section">
                <span class="title">4. Pytanie<span class="required">*</span></span>
                <textarea [(ngModel)]="jokeQuestion"></textarea>
            </div>
            <div class="section">
                <span class="title">5. Odpowiedź<span class="required">*</span></span>
                <textarea [(ngModel)]="jokeAnswer"></textarea>
            </div>
        </div>
        }

        <span class="response"
            [ngClass]="{ 'error': responseMessage?.status == 'ERROR'}">{{responseMessage?.message}}</span>
        <button id="submit" #submitButton (click)="editJoke(submitButton)" [disabled]="buttonIsDisabled">Edytuj</button>
    </div>
    }

</div>