@import "../../../../styles/base";
@import "../../../../styles/formElement.css";

#container {
    background-color: $color-background;

    width: 360px;

    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;

    header {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        font-size: 1.3em;
        border-bottom: 2px solid $color-text-1;

        i {
            font-size: 1.3em;
        }

        i:hover {
            cursor: pointer;
        }
    }

    #list-container {
        min-height: 100px;
        max-height: 50vh;

        overflow-y: auto;

        display: flex;
        flex-direction: column;

        .list {
            padding: 10px 0;

            display: flex;
            align-items: center;
            gap: 10px;

            font-size: 1.3em;

            input {
                width: 30px;
                height: 30px;

                flex-shrink: 0;
            }

            .accessibilityType {
                width: 30px;
                height: 30px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin-left: auto;
            }
        }
    }
}
