<div id="container">
  <header>
    <span>Twoje listy</span>
    <i class="fa-solid fa-xmark" (click)="closePopup()"></i>
  </header>

  <div id="list-container">
    <div class="list" *ngFor="let list of jokeLists">
      <input type="checkbox" [checked]="hasJokeWithId(list)" (change)="onCheckboxChange(list, joke, $event)">
      <span> {{list.name}}</span>
      <div class="accessibilityType">
        <i *ngIf="list.visibilityType === JokeListVisibilityEnum.PRIVATE" class="fa-solid fa-lock"
          title="Lista prywatna"></i>
        <i *ngIf="list.visibilityType === JokeListVisibilityEnum.NOT_PUBLIC" class="fa-solid fa-unlock"
          title="Lista niepubliczna"></i>
        <i *ngIf="list.visibilityType === JokeListVisibilityEnum.PUBLIC" class="fa-solid fa-user"
          title="Lista publiczna"></i>
      </div>
    </div>
  </div>

  <footer>
    @if(!newListFormIsVisible){
    <div id="showNewListFormButton" (click)="showNewListForm()">Dodaj nową listę</div>
    }
    @else {
    <div id="form-container">
      <div class="input-area">
        <input id="list-name-input" type="text" placeholder="Nazwa" [(ngModel)]="listName">
        <span class="required">*</span>
      </div>

      <div class="select-area">
        <select id="accessibility" [(ngModel)]="accessibility">
          <option value="PUBLIC">Publiczna</option>
          <option value="NOT_PUBLIC">Niepubliczna</option>
          <option value="PRIVATE">Prywatna</option>
        </select>
      </div>

      <button (click)="createNewList()">
        Stwórz
      </button>

    </div>
    }
  </footer>
</div>