<div id="container">
  <header>
    <span>Twoje listy</span>
    <i class="fa-solid fa-xmark" (click)="closePopup()"></i>
  </header>

  <div id="list-container">
    <div class="list" *ngFor="let list of user.jokeLists">
      <input type="checkbox" [checked]="hasJokeWithId(list)" (change)="onCheckboxChange(list, joke, $event)">
      <span class="text-limit"> {{list.name}}</span>
      <div class="accessibilityType">
        <i *ngIf="list.visibilityType === JokeListVisibilityEnum.PRIVATE" class="fa-solid fa-lock"
          title="Lista prywatna"></i>
        <i *ngIf="list.visibilityType === JokeListVisibilityEnum.NOT_PUBLIC" class="fa-solid fa-unlock"
          title="Lista niepubliczna"></i>
        <i *ngIf="list.visibilityType === JokeListVisibilityEnum.PUBLIC" class="fa-solid fa-user"
          title="Lista publiczna"></i>
      </div>
    </div>
  </div>

  <footer>
    <app-create-list [user]="user"/>
  </footer>
</div>