<div id="container">
    <h1>
        Rejestracja
    </h1>

    <div id="content">
        <div class="input-area">
            <input id="login-input" type="text" placeholder="Login" maxlength="30">
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="input-area">
            <input id="login-email" type="text" placeholder="E-mail" maxlength="80">
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="input-area">
            <input id="password-input" type="password" placeholder="Hasło">
            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
        </div>
        <div class="input-area">
            <input id="password-confirm-input" type="password" placeholder="Hasło">
            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
        </div>
    </div>

    <footer>
        <span class="error"></span>
        <button>Zarejestruj się</button>
        <span class="info">Masz już konta? <a class="link" href="/auth/signIn">Zaloguj się</a></span>
    </footer>
</div>