<div id="container">
    <div class="input-area" [ngClass]="{'active':isFocused}">
        <input id="identifier-input" type="text" placeholder="Wyszukaj kategorię" (focus)="onFocus()"
            (blur)="onBlur()"
            [(ngModel)]="inputValue"
            (input)="onInputChange()"
            autocomplete="off"
            >
        <div class="icon">
            <i class="fa-solid fa-list"></i>
        </div>
    </div>
    <div id="category-list" [ngClass]="{'active':isFocused}">
        <ul>
            <li *ngFor="let category of populatedCategories" (click)="selectCategory(category)">{{ category.name }}</li>
        </ul>
    </div>
</div>