<div id="container">
    <h1>
        Resetowanie hasła
    </h1>

    <div id="content">
        <div class="input-area">
            <input id="password-input" type="password" placeholder="Hasło" [(ngModel)]="password">
            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
            <span class="required">*</span>
        </div>
        <div class="input-area">
            <input id="password-confirm-input" type="password" placeholder="Hasło" [(ngModel)]="passwordConfirm">
            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
            <span class="required">*</span>
        </div>
    </div>

    <footer>
        <span class="response" [ngClass]="{ 'error': responseMessage?.status == 'ERROR'}">{{responseMessage?.message}}</span>
        <button (click)="submit()" [disabled]="buttonIsDisabled">Zapisz hasło</button>
    </footer>
</div>