@import '../../../../styles/base';

$button-height: 30px;

#button-container {
    display: flex;

    color: $color-text-1;
    font-size: 1.2em;
    font-weight: 500;

    position: relative;
    width: 100%;

    .selected {
        display: none;

        background-color: $color-theme;
        width: 5px;
        height: $button-height;
        
        flex-shrink: 0;

        position: absolute;
    }

    .icon {
        margin-left: 20px;

        width: 30px;
        height: $button-height;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-shrink: 0;
    }

    .text {
        margin-left: 10px;
        margin-right: 10px;

        width: 100%;
        
        font-family: "Roboto", sans-serif;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        line-height: $button-height;
    }

    @media (max-width: 1200px) {
        font-size: 1.1em;

        .icon{
            margin-left: 10px;
        }

        .text {
            margin-left: 5px;
        }
    }

    @media (max-width: 1000px) {
        font-size: 0.95em;

        .icon{
            margin-left: 10px;
        }

        .text {
            margin-left: 2px;
        }
    }
}

#button-container:hover {
    color: #b5aeff;
    cursor: pointer;
}

#button-container.selected{
    color: $color-theme;
    font-weight: 800;
    
    .selected{
        display: block;
    }
}
