<aside>

    <div class="logo">

    </div>

    <nav>
        <app-aside-menu-button [text]="'Strona Główna'" [icon]="'fa-solid fa-house'" [isSelected]="true" (onSelect)="handleButtonSelect($event)"/>
        <app-aside-menu-button [text]="'Kategorie'" [icon]="'fa-solid fa-table-cells-large'" (onSelect)="handleButtonSelect($event)"/>
        <app-aside-menu-button [text]="'Kategorie'" [icon]="'fa-solid fa-table-cells-large'" (onSelect)="handleButtonSelect($event)"/>
        <app-aside-menu-button [text]="'Kategorie'" [icon]="'fa-solid fa-table-cells-large'" (onSelect)="handleButtonSelect($event)"/>
        <app-aside-menu-button [text]="'Kategorie'" [icon]="'fa-solid fa-table-cells-large'" (onSelect)="handleButtonSelect($event)"/>
        <app-aside-menu-button [text]="'Kategorie'" [icon]="'fa-solid fa-table-cells-large'" (onSelect)="handleButtonSelect($event)"/>
    </nav>
   
    <footer>

    </footer>
</aside>