<aside [ngClass]="{'active': asideMenuService.leftMenuIsShown}">
    <div id="wrapper">
        <div class="logo">

        </div>

        <nav>
            <a routerLink="">
                <app-aside-menu-button [text]="'Strona Główna'" [icon]="'fa-solid fa-house'" [isSelected]="true"
                    (onSelect)="handleButtonSelect($event)" />
            </a>
            <div class="nav-margin"></div>
            <app-aside-menu-button [text]="'Kategorie'" [icon]="'fa-solid fa-table-cells-large'"
                (onSelect)="handleButtonSelect($event)" />
            <app-aside-menu-button [text]="'Ulubione'" [icon]="'fa-solid fa-star'"
                (onSelect)="handleButtonSelect($event)" />
            <app-aside-menu-button [text]="'Losowy'" [icon]="'fa-solid fa-shuffle'"
                (onSelect)="handleButtonSelect($event)" />
            <app-aside-menu-button [text]="'Najlepsze'" [icon]="'fa-solid fa-ranking-star'"
                (onSelect)="handleButtonSelect($event)" />
            <app-aside-menu-button [text]="'Najnowsze'" [icon]="'fa-solid fa-calendar-days'"
                (onSelect)="handleButtonSelect($event)" />
            <div class="nav-margin"></div>
            <a routerLink="/create">
                <app-aside-menu-button [text]="'Dodaj'" [icon]="'fa-solid fa-square-plus'"
                    (onSelect)="handleButtonSelect($event)" />
            </a>
        </nav>

        <footer>

        </footer>
    </div>
</aside>