@import '../../../../styles/base';

#container {
    margin-top: 20px;
    padding: 20px;

    #up-panel {
        display: flex;
        justify-content: space-between;
        align-items: end;
        font-weight: 700;

        .title {
            font-size: 2em;

            @media (max-width: 800px){
                font-size: 1.2em;
            }

            @media (max-width: 500px){
                font-size: 1.1em;
            }
        }
    }

    #progress-bar-background {
        margin-top: 5px;
        height: 15px;
        background-color: $color-text-1;
        border-radius: 10px;

        #progress-bar {
            height: 100%;
            width: 30%;
            border-radius: 8px;
            background: linear-gradient(90deg, rgba(103,226,88,1) 0%, rgba(103,236,109,1) 100%);
        }
    }

    @media (max-width: 600px){
        margin-top: 5px;
    }
}