<div id="container">
    <div id="header">
        <div id="owner">
            <i class="fa-solid fa-circle-user"></i>
            @if(joke.owner){
                {{joke.owner.login}}
            }
            @else{
                Anonim
            }
        </div>

        <div id="favorite-button" [ngClass]="{'active' : joke.favorite}" (click)="favorite()">
            <i class="fa-solid fa-star"></i>
        </div>
    </div>

    <div id="content">
        {{joke.content}}
    </div>
    
    <div id="footer">
        <div id="rating">
            <div class="button" id="like-button" [ngClass]="{'active' : joke.userRating == 1}" (click)="like()">
                <i class="fa-solid fa-thumbs-up"></i>
            </div>
            <div class="button" id="dislike-button" [ngClass]="{'active' : joke.userRating == -1}" (click)="dislike()">
                <i class="fa-solid fa-thumbs-down"></i>
            </div>
            <div id="rating-value"> {{joke.likeAmount - joke.dislikeAmount}}</div>
        </div>

        <div id="menu-container">
            @if(menuIsShown){
                <app-joke-menu (clickOutside)="toggleMenu()" [joke]="joke"/>
            }
            <div class="button" (click)="toggleMenu()">
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </div>
    </div>
</div>