<div id="container">
    <app-progress-bar *ngIf="viewSettings.showProgressBar" [progressBar]="progressBar"/>

    <div id="joke-container">
        <div id="joke-wrapper" *ngIf="joke">
            <app-joke [joke]="joke"/>
        </div>

        <div id="loading" *ngIf="!joke">
            Ładowanie...
        </div>
    </div>

    <div id="down-panel">
        <div id="settings-button" class="button">
            <i class="fa-solid fa-gear"></i>
        </div>
        <div id="navigation">
            <div class="button" [ngClass]="{'disabled' : !viewSettings.hasPreviousJoke}" (click)="loadPreviousJoke()" *ngIf="viewSettings.showPreviewButton">
                <i class="fa-solid fa-arrow-left"></i> <span class="text">Poprzedni</span>
            </div>
            <div class="button next" [ngClass]="{'disabled' : !viewSettings.hasNextJoke}" (click)="loadNextJoke()" *ngIf="viewSettings.showNextButton">
                <span class="text">Następny</span> <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
    </div>
</div>