@import "../../../styles/base";

header {
    width: 100%;
    height: 70px;
    padding: 0 20px;

    border-bottom: 2px solid $color-aside-border;

    display: flex;
    align-items: center;
    justify-content: space-between;

    #left-panel {
        #add-joke-button {
            background-color: $color-theme;
            height: fit-content;

            color: $color-white;
            padding: 10px;
            border-radius: 10px;
            font-size: 1.1em;
            font-weight: 500;

            span {
                margin-left: 10px;
            }
        }

        #add-joke-button:hover {
            background-color: $color-theme-dark;
            cursor: pointer;
        }
    }

    #right-panel {
        display: flex;
        align-items: center;
        color: $color-text-1;

        #social-buttons {
            margin: 0 30px;
            display: flex;

            gap: 20px;
            font-size: 1.4em;

            .social-button:hover {
                color: $color-theme-dark;
                cursor: pointer;
            }

            @media (max-width: 1100px) {
                margin: 0 10px;
            }

            @media (max-width: 800px) {
                gap: 6px;
            }
        }

        #theme-button {
            font-size: 1.6em;
            padding: 0 30px;

            @media (max-width: 1100px) {
                padding: 0 10px;
            }
        }

        #user-section {
            max-width: 250px;

            #user-not-logged-in {
                display: flex;
                gap: 20px;
                align-items: center;

                #sign-in-button {
                    font-weight: 600;
                }

                #sign-in-button:hover {
                    cursor: pointer;
                }

                #sign-up-button {
                    border: 2px solid $color-text-1;
                    background-color: #0011ff23;
                    width: fit-content;

                    padding: 8px 20px;
                    border-radius: 10px;
                    font-size: 1.1em;
                    font-weight: 500;
                }

                #sign-up-button:hover {
                    background-color: #0011ff49;
                    cursor: pointer;
                }

                @media (max-width: 1100px) {
                    gap: 10px;

                    #sign-up-button {
                        display: none;
                    }

                    #sign-in-button {
                        border: 2px solid $color-text-1;
                        background-color: #0011ff23;
                        width: fit-content;

                        padding: 8px 20px;
                        border-radius: 10px;
                        font-size: 1.1em;
                        font-weight: 500;
                    }
                }
            }

            #user-logged-in {
                display: flex;
                align-items: center;

                .icon {
                    width: 50px;
                    height: 50px;

                    flex-shrink: 0;
                    font-size: 2em;
                    background-color: #00000023;

                    border-radius: 5px;
                    border: 2px solid $color-text-1;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .login {
                    margin-left: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 500;
                }

                .fa-caret-down {
                    font-size: 1.2em;
                }
            }

            @media (max-width: 1100px) {
                max-width: 200px;
            }
        }

        @media (max-width: 700px) {
            display: none;
        }
    }

    @media (max-width: 1200px) {
        padding: 0 5px;
    }
}
