<header>
    <div id="left-panel">
        <div class="toggle-menu-button" (click)="toggleLeftMenu()">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div id="add-joke-button">
            <i class="fa-solid fa-square-plus"></i> <span>Dodaj dowcip</span>
        </div>
    </div>

    <div id="right-panel">
        <div id="menu">
            <section id="social-buttons">
                <div class="social-button">
                    <i class="fa-brands fa-square-facebook"></i>
                </div>
                <div class="social-button">
                    <i class="fa-brands fa-square-instagram"></i>
                </div>
                <div class="social-button">
                    <i class="fa-brands fa-discord"></i>
                </div>
                <div class="social-button">
                    <i class="fa-brands fa-square-facebook"></i>
                </div>
            </section>
    
            <div id="theme-button">
                <i class="fa-solid fa-sun"></i>
            </div>
    
            <section id="user-section">
                @if (user) {
                <div id="user-logged-in">
                    <div class="icon"><i class="fa-solid fa-circle-user"></i></div>
                    <span class="login">{{user.login}}</span>
                    <i class="fa-solid fa-caret-down"></i>
                </div>
    
                }
                @else {
                <div id="user-not-logged-in">
                    <a href="/auth/signIn"><div id="sign-in-button">Logowanie</div></a>
                    <a href="/auth/signUp"><div id="sign-up-button">Rejestracja</div></a>
                </div>
                }
            </section>
        </div>

        <div class="toggle-menu-button" style="margin-right: 10px;">
            <i class="fa-solid fa-sun"></i>
        </div>

        <div class="toggle-menu-button" (click)="toggleRightMenu()">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</header>