<div id="container">
    <div id="up-panel">
        <ul>
            <li routerLink="/create">Dodaj dowcip</li>
            <li routerLink="/categories">Kategorie</li>
            <li routerLink="/random">Losowy</li>
            <li routerLink="/best">Najlepsze</li>
        </ul>
    
        <ul>
            <li routerLink="/rules">Regulamin</li>
            <li routerLink="/contact">Kontakt</li>
            <li routerLink="/privacy-policy">Polityka Prywatności</li>
        </ul>
    </div>
    <div id="down-panel">
        2024 &copy; StrefaSmiechu.pl
    </div>
</div>
