<div id="container">
    <div id="header">
        <img class="icon" src="/icon/icon2.png">

        <h1>Ulubione dowcipy</h1>


    </div>

    <section id="user-not-logged-id" *ngIf="!user">
        <a routerLink="/auth/signIn" class="link">Zaloguj się</a>, aby dodawać i wyświetlać ulubione dowcipy <br> <br>
    </section>

    <section *ngIf="user">
        <div id="joke-container"><ng-container #jokeContainer /></div>

        <app-page-container (changePageEvent)="onChangePage($event)" />
    </section>
</div>