@use 'styles/base' as *;

@import "styles/background.scss";

html{
    font-family: 'Roboto';
    min-width: 360px;
    color: $color-text-1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    outline: none;
    border: none;
}

.response{
    color: $color-green;
    text-align: center;
    font-weight: 500;
    display: block;
}

.response.error{
    color: $color-red;
}

.text-limit {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link {
    color: $color-theme;
    font-weight: 500;
}

.scrollable-vertical::-webkit-scrollbar {
    width: 5px;
}

.scrollable-vertical::-webkit-scrollbar-thumb {
    background-color: #b0b5ff;
}
.scrollable-vertical::-webkit-scrollbar-track {
    background-color: #adafff33;
}
