@use 'styles/base' as *;

@import "styles/background.scss";

html{
    font-family: 'Roboto';
    min-width: 360px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}