#home-container {
    width: 100%;

    app-aside-menu {
        width: fit-content;
        min-height: 100vh;
    }

    #container {
        display: flex;

        #content{
            flex-grow: 1;
        }
    }
}
