#home-container {
    width: 100%;

    display: flex;

    app-aside-menu {
        width: fit-content;
        height: 100vh;
    }

    #container {
        flex-grow: 1;
        overflow-y: auto;
    }
}
