<div id="container">
    <h1>
        Resetowanie hasła
    </h1>

    <div id="content">
        <div class="input-area">
            <input id="email-input" type="text" placeholder="E-mail" maxlength="80" [(ngModel)]="email">
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </div>

    <footer>
        <span class="response" [ngClass]="{ 'error': responseMessage?.status == 'ERROR'}">{{responseMessage?.message}}</span>
        <button (click)="submit()" [disabled]="buttonIsDisabled">Resetuj</button>
        <span class="info">Może Ci się przypomniało? <a class="link" href="/auth/signIn">Zaloguj się</a></span>
    </footer>
</div>