@import '../../../styles/base';
@import '../../../styles/formElement.scss';

#container{
    padding: 20px;

    #header {
        width: 100%;
        height: 200px;

        background-color: $color-theme;
        border-radius: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 20px;

        color: white;

        .icon {
            height: 200px;
            width: auto;
        }

        h1 {
            padding-right: 10px;
            text-align: center;
        }

        @media (max-width: 1000px){
            h1{
                font-size: 1.5em;
            }
        }

        @media (max-width: 850px){
            height: 150px;
            .icon{
                height: 150px;
                width: auto;
            }

            h1{
                font-size: 1.2em;
            }
        }
    }

    .category-type{
        margin-top: 20px;

        .header{
            font-size: 1.5em;
            font-weight: 800;
        }

        .category-container{
            display: grid;
            margin-top: 10px;

            grid-template-columns: 1fr 1fr;

            flex-wrap: wrap;
            gap: 20px;  

            @media (max-width: 1000px){
                gap: 10px;
                grid-template-columns: 1fr;
            }
        }
    }
}